
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family:„Alegreya Sans”, sans-serif;
}

/* Positioning */

.profile-card {
  width: 880px;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('https://www.tapeciarnia.pl/tapety/normalne/184394_konie_gory.jpg') no-repeat center center fixed;
 
}

.head, .links {
  text-align: center;
  margin-bottom: 10%;
  margin-top: 30px;
  
}

.head, .content {
  width: 90%;
}

.content {
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}

.head, .about {
  margin-bottom: 10%;
}
  
.about {
  text-align: justify;
}

.content {
  padding: 5% 5%;
}

/* Profile image */

h1 {
  font-size: 50px;
}


h2 {
  font-size: 40px;
}

.profile-image {
  margin-top: 40px;
}


#profil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  transition: all 0.5s ease-in-out;
}

#profil:hover {
  filter: grayscale(20%);
  transform: scale(2.2);
}

img
{
  width: 120px;
  height: 120px;
  border-radius: 10%;
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
  
  /* nie mam pomysłu jak umieścic obok siebie było ok dopóki nie podpisałam img  */
  
  figure {
  float: left;
  width: 30%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  position: fixed;
  }

  figcaption {
  padding: 0.5em;
  border: thin silver solid;
  border-bottom: none;
}
  

/* Contact links - działało ale juz nie działa  */

 ul {
  list-style-type: none;
}

li {
  display: inline;
}


table, th, td {
  border: 10px solid black;
  border-collapse: collapse;
    border-bottom: 2px dotted #444444;
    height: 5px;
	margin-top: 25px;
	margin-bottom: 20px;	
  }

a
  {
    font-size: 20px;
}





